body {
  margin: 0;
  padding: 0;
  background-image: url("/darkforrest.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.myClockPage{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
  height:800px;
}

.myClock{
  width: 50%;
  height: auto;
  margin: auto;
  font-family: 'Josefin Sans', sans-serif;
  display: flex;
  flex-flow: column;
  align-items: center;
  color:white;
}

h1{
  font-size: 50px;
}

h2{
  font-size: 40px;
}

button{
  font-size: 15px;
  font-family: 'Josefin Sans', sans-serif;
  padding: 15px;
  border-radius: 30px;
  border-style: none;
  outline: none;
  margin: 10px;
  background: white;
}

.actionButtons {
  padding: 50px;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}
